<div
  class="{%if include.latest %} large-blog-post {% endif %} blog-post"
  style="background-image:url({{include.post.featured-thumbnail}});"
>
  <div
    style="
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    "
  ></div>
  <a class="blog-title" href="{{ include.post.url }}" style="z-index: 1"
    >{{ include.post.title}}{% if post.is_series %}
    <p
      style="
        color: white;
        font-size: 0.9rem;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.5);
      "
    >
      Series: {{include.post.series_title}}
    </p>
    {% endif %}</a
  >
  <div style="z-index: 1">
    {% if post.categories %} {% include components/post_logos.html
    categories=include.post.categories %} {% endif %}
  </div>
  <p class="post-date">{{ include.post.date | date: "%b %-d, %Y" }}</p>
  <div class="post-info">
    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
      {{include.post.description}}
    </p>
    <a href="{{include.post.url}}" class="blog-link white-link-button"
      >Read More</a
    >
  </div>
</div>
