<a
  style="
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
  "
  class="post-logos-single"
  href="{{site.baseurl}}/categories/#{{include.category|slugize}}"
>
  <img
    src="/assets/images/categories/{{include.category}}.svg"
    style="padding-left: 5px; padding-right: 5px"
    alt=""
    class="post-logos-single-icon"
  />
  <span
    class="post-logos-single-text"
    style="color: black; text-transform: capitalize"
    >{{include.category}}</span
  >
</a>
