---
layout: default
comments: true
---

<article class="post">
  <div
    class="featured-img-container"
    style="
      background-image: url('{{page.featured-image}}');
    "
  >
    <div class="post-title">
      {% if page.categories %} {% include components/post_logos.html
      categories=page.categories %} {% endif %}
      <h1>{{page.title}}</h1>
      <div class="post-title-meta" style="margin-bottom: 10px">
        <h3 style="text-align: start; margin-top: 0px; margin-bottom: 10px">
          {{page.description}}
        </h3>
        <p style="margin-top: 0px; margin-bottom: 10px">
          {{ page.date | date: "%b %-d, %Y" }}
        </p>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0px;
          "
        >
          <img
            style="height: 50px; margin-right: 20px"
            src="/assets/images/viktor.png"
            alt=""
          />
          <span style="color: white">Viktor Lövgren</span>
        </div>
      </div>
    </div>
  </div>

  <div class="content">{{ content }}</div>
</article>

<!-- Series links -->
{% if page.is_series == true %}
<div class="older-posts gradient-bg">
  <h3 class="text-success p-3 pb-0">
    <span style="font-style: italic">More From The</span>
    <span style="font-size: 2rem">{{ page.series_title }}</span>
    <span style="font-style: italic">Series</span>
  </h3>
  <div class="posts-container">
    {% assign posts = site.posts | where: "is_series", true | where:
    "series_title", page.series_title %} {% for post in posts %} {% if
    post.title != page.title %} {% include components/blog_post_card.html
    post=post %} {% endif %} {% endfor %}
  </div>
</div>
{% endif %}

<!-- <div id="disqus_thread"></div>
<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
  (function () {
    // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement("script");
    s.src = "https://EXAMPLE.disqus.com/embed.js";
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript
  >Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript"
    >comments powered by Disqus.</a
  ></noscript
> -->
