---
layout: default
comments: true
---

<article class="post">
  <div
    class="featured-img-container"
    style="
      background-image: url('{{page.featured-image}}');
    "
  >
    <div class="post-title">
      <h1>{{page.title}}</h1>
      <div class="post-title-meta">
        <h3>{{page.description}}</h3>
        <p>{{ page.date | date: "%b %-d, %Y" }}</p>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 16px;
          "
        >
          <img
            style="height: 50px; margin-right: 20px"
            src="/assets/images/viktor.png"
            alt=""
          />
          <span style="color: white">Viktor Lövgren</span>
        </div>
      </div>
    </div>
  </div>

  <div class="content">{{ content }}</div>
</article>

<!-- Series links
{% if page.is_series == true %}
<h3 class="text-success p-3 pb-0">{{ page.series_title | upcase }} series</h3>
{% assign posts = site.posts | where: "is_series", true | where: "series_title",
page.series_title | sort: 'date' %} {% for post in posts %} {% if post.title ==
page.title %}
<p class="nav-link bullet-pointer mb-0">{{ post.title }}</p>
{% else %}
<a class="nav-link bullet-hash" href="{{ post.url }}">{{ post.title }}</a>
{% endif %} {% endfor %} {% endif %} -->

<!-- <div id="disqus_thread"></div>
<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
  (function () {
    // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement("script");
    s.src = "https://EXAMPLE.disqus.com/embed.js";
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript
  >Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript"
    >comments powered by Disqus.</a
  ></noscript
> -->
